html, body, #root, .App {
    background-color: #555;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: auto;
}

#Workspace {
    background-color: #555;
    height:2000px;
    width:2000px;
    position: absolute;
    top: 50px;
    left: 150px;
}

#NoteWrapper {
    height:100%;
    width:100%;
    display: flex;
    flex-wrap: wrap;

}

.overlay {
    position: fixed;
    z-index: 1;
}

.overlayButton {
    border-radius: 60px;
    background-color: #eee;
    box-shadow: 0 0 3px #999;
}

.Note {
    background-color: lightgray;
    color: black;
    text-align: center;
    height: 5rem;
    width: 10rem;
    font-size: 1rem;
    margin: 1rem;
    overflow: hidden;
    position: static;
    z-index: 0;
}

.DetailNote {
    background-color: lightgray;
    color: black;
    text-align: center;
    height: 10rem;
    width: 15rem;
    font-size: 1rem;
    margin: 1rem;
    overflow: auto;
    position: absolute;
}

.test {
    display: flex;
}


