html, body, #root, .App {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;

    /* Colors */
    --canvasColor: #616161;
    --backgroundColor: #f5f5f5;
    --darkBackgroundColor: #e0e0e0;
    --textColor: #21212;
    --lightTextColor: #9e9e9e;
    --accentColor: #26a69a;
    --shadow: 0 1px 2px rgba(20, 20, 20, 0.5);

    /* Ui sizes */
    --headerHeight: 50px;
    --sideBarWidth: 180px;
    --noteWidth: 176px;
    --noteMinHeight: 50px;
    --noteMaxHeight: 160px;

    /* Spacings */

    --small: 4px;
    --normal: 8px;
    --large: 12px;

    background-color: #444;
}

/* Sidebar ------------------------------------------------------*/
.sideBar {
    width: var(--sideBarWidth);
    padding-top: var(--headerHeight);
    background-color: var(--backgroundColor);
    box-shadow: var(--shadow);
    height: 100%;
    position: fixed;
    top: 0;
    z-index: 2;
    overflow: auto;
}

.sidebarLi {
    margin-left: var(--large);
    margin-bottom: var(--normal);
    cursor: pointer;
}

.colorSymbol {
    padding: var(--normal);
    margin-right: var(--small);
    border-radius: 2px;
}

/* Header ------------------------------------------------------*/
.header {
    line-height: var(--headerHeight);
    height: var(--headerHeight);
    background-color: var(--backgroundColor);
    color: var(--textColor);
    z-index: 3;
}

.dropDown {
    background-color: var(--backgroundColor);
    color: var(--textColor);
    z-index: 3;
    position: fixed;
    top: var(--headerHeight);
    box-shadow: var(--shadow);
    margin: 0;
}

.dropDownBtn {
    text-align: center;
    margin: var(--normal);

}

/* canvas ------------------------------------------------------*/
.scaleWrapper{
    position: absolute;
    top: var(--headerHeight);
    left: var(--sideBarWidth);
}

.canvas {
    background-color: var(--canvasColor);
    height: 10000px;
    width: 10000px;
    position: absolute;
}

/* addButton ------------------------------------------------------*/
.addButton {
    position: fixed;
    top: var(--headerHeight);
    left: var(--sideBarWidth);
    background-color: var(--accentColor);
    border-radius: 30px;
    margin: var(--large);
    line-height: 0;
    z-index: 2;
    box-shadow: var(--shadow);
}

.addSymbol {
    padding: var(--small);
}

/* Note ------------------------------------------------------*/

.note {
    width: var(--noteWidth);
    margin: var(--normal);
    position: absolute;
}

.noteBackground {
    min-height: var(--noteMinHeight);
    max-height: var(--noteMaxHeight);
    width: var(--noteWidth);
    color: var(--textColor);
    background-color: var(--backgroundColor);
    margin: 0;
    overflow: hidden;
    cursor: pointer;
    border-radius: 2px;
    box-shadow: var(--shadow);
}

.noteContent {
    font-size: 12px;
    padding: var(--normal);
    margin: 19px 0 0;
    line-height: 15px;
}

.noteLabelGrid {
    display: grid;
    grid-template-columns: 16px 16px 16px 16px 16px 16px 16px;
    grid-gap: var(--normal);
    padding-left: var(--normal);
    padding-right: var(--normal);
}

.noteLabelItem {
    padding: 8px;
    margin: 0;
    border-radius: 1px;
    box-shadow: var(--shadow);
}

.noteIcon {
    margin-right: var(--normal);
    margin-left: var(--normal);
}

.noteIcon.comment {
    font-size: 18px;
    margin-top: var(--small)
}

.detailNote {
    background-color: var(--backgroundColor);
    color: var(--textColor);
    z-index: 1;
    position: absolute;
    border-radius: 2px;
    box-shadow: var(--shadow);
    margin: var(--normal)
}

.detailNoteIcon {
    padding: 0;
    margin-left: var(--large);
    cursor: pointer;
    font-size: 25px;
}

/* Menu ------------------------------------------------------*/
.menuBackground {
    margin: var(--large);
    position: fixed;
    top: var(--headerHeight);
    left: var(--sideBarWidth);
    background-color: var(--backgroundColor);
    color: var(--textColor);
    z-index: 2;
    border-radius: 2px;
    box-shadow: var(--shadow);
}

.menuContent {
    padding: var(--normal);
}

.menuTab {
    border-radius: 2px;
    border-bottom: 3px solid var(--darkBackgroundColor);
    /*margin-bottom: var(--normal);*/
    background-color: var(--darkBackgroundColor);
    font-size: 1.2em;
    text-align: center;
    line-height: 2;
    cursor: pointer;
}

.menuTab.active {
    border-radius: 0;
    border-bottom: 3px solid var(--accentColor);
    background-color: var(--backgroundColor);
}

.menuHeading {
    margin: 0;
}

.menuText {
    margin-top: 0;
    max-height: 120px;
    overflow: auto;
}

/* Import menu ------------------------------------------------------*/
.importTableWrapper {
    max-width: calc(100vw - var(--sideBarWidth) - 5*var(--normal));
    overflow: auto;
    margin-bottom: var(--large);
}

.importTable {
    display: table;

}

.importMenuColumn {
    display: table-cell;
}

.importMenuColumnContent {
    min-width: 50px;
    max-width: 250px;
    padding: var(--normal);
}

.importTableCell {
    margin: var(--normal) 0 0 var(--normal);
    color: var(--lightTextColor);
}

.importTableCell.Header {
    font-weight: bold;
    border-bottom: 2px solid var(--lightTextColor);
}

/* Label selection ------------------------------------------------------*/
.labelContainer {
    margin-bottom: 24px;
}

.labelGrid {
    display: grid;
    grid-gap: var(--normal);
    padding-top: var(--normal);
    grid-template-columns: 115px 115px 115px 115px;
    max-height: 210px;
    overflow: auto;
}

.labelGridItem {
    border-bottom: 3px solid #eee;
    background-color: #eee;
    border-radius: 2px;
    cursor: pointer;
}

.labelGridItem.active {
    border-bottom: 3px solid var(--accentColor);
    background-color: var(--darkBackgroundColor);
}

.labelColorIcon {
    padding: 8px;
    border-radius: 2px;
    margin: var(--normal);
}

/* popup ------------------------------------------------------*/

.popup-menu {
    background-color: var(--backgroundColor);
    display: flex;
    width: 100%;
}

.popup {
    background-color: var(--backgroundColor);
    box-shadow: var(--shadow);
    position: fixed;
    z-index: 7;
    width: 250px;
    top: 0;
    left: 0;
    padding: var(--normal);
    margin-top: 30vh;
    margin-left: calc(50vw - 125px);
}

.popup-dim {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 6;
    background-color: #00000044;
}

.popup-text {
    display: flex;
    align-content: center;
    margin-top: var(--normal);
    margin-bottom: var(--normal);

}
